.token-header {
  background: linear-gradient(
    230.31deg,
    rgba(75, 242, 162, 0) 8.63%,
    rgba(168, 159, 231, 0) 30.25%,
    #c990ee 64.06%,
    #71969e 91.43%
  );
}

.success-bg {
  background: linear-gradient(
    73.92deg,
    rgba(36, 50, 42, 0) 24.53%,
    rgba(60, 125, 96, 0.77) 59.57%,
    rgba(73, 164, 124, 0.63) 77.62%
  );
}

.constraints-wrapper {
  background: linear-gradient(270deg, #0c0c17 0%, #161623 100%);
}

.collapse-handler {
  background: linear-gradient(270deg, #56566a 0%, #0d0d18 100%);
}
