.claimed-prize {
  > div {
    background: linear-gradient(
      91.35deg,
      #4bf2a2 0.66%,
      #a89fe7 10.06%,
      #e1c4f4 20.07%,
      #dd40cd 28.44%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // font-size: 14px;
    // font-weight: 600;
    margin-left: 10px;
  }

  @apply relative z-10 bg-g-primary before:content-[''];
  @apply before:absolute before:inset-[2px] before:-z-10 before:block before:rounded-lg before:bg-[radial-gradient(174.04%_3217.67%_at_17.05%_37.02%,#2A3837_0%,#3F2B44_42.19%,#322837_100%)];
  @apply text-white;
  @apply rounded-[10px] p-3;
}

.providerDashboardStatus {
  & div {
    @apply min-w-[60px] cursor-pointer px-3 py-[10px] text-center;
  }
  & div:not(:last-child) {
    @apply border-r-2 border-r-gray30;
  }
}

.providerDashboardTabs {
  position: relative;
  border-radius: 12px 12px 0px 0px;
}

.refillToken {
  @apply rounded-[16px] border border-2 border-gray40 bg-cover bg-no-repeat;
  background-image: url("/assets/images/provider-dashboard/bg.png");
}

.providePrize__amount {
  position: relative;
  @apply text-gray20;
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    #2a3837 0%,
    #3f2b44 42.19%,
    #322837 100%
  );
  -webkit-text-stroke: 7px transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
  font-weight: 600;
  padding: 10px;

  &:after {
    content: attr(data-amount);
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      91.35deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    @apply text-gray20;
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #13131e;
    left: 10px;
  }
}

.offerPrizeSteps {
  border-radius: 12px;
  @apply bg-cover bg-no-repeat;
  background: url("/assets/images/provider-dashboard/prize-offer-step-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.chines-list-dropDown::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chines-list-dropDown {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prizeForm-current-step-icon {
  @apply h-[26px] w-[26px] overflow-hidden rounded-full rounded-full bg-gray30;
}

.requireModal {
  @apply flex h-[84px] max-w-[184px] cursor-pointer flex-col items-center justify-center gap-2 rounded-xl border border-gray70 bg-gray40 text-sm font-semibold;
}

.requireModalIntegration {
  @apply mt-1 flex h-[48px] max-w-[376px] cursor-pointer items-center justify-between rounded-xl border border-gray70 bg-gray40 px-3 text-sm font-semibold text-gray100;
}

.provider-dashboard-input {
  @apply h-[100%] w-full bg-transparent text-white placeholder-gray80;
}
.prize-card-bg-1 {
  @apply bg-no-repeat p-0 pl-0 lg:bg-[url("/assets/images/prize-tap/nft-cover.svg")] lg:p-4 lg:pl-6 lg:pr-0;
}

.prize-card-linea {
  @apply bg-no-repeat p-0 pl-0 lg:bg-[url('/assets/images/prize-tap/linia-raffle-bg.svg')] lg:p-4 lg:pl-6 lg:pr-0;
}

.prize-card-bg-2 {
  @apply bg-[url("/assets/images/prize-tap/cover.svg")] bg-cover bg-no-repeat;
}

.prize-tap-header-bg {
  background-image: url("/assets/images/prize-tap/header-bg.svg");
  @apply bg-cover bg-center bg-no-repeat;
}

.deposit-prize-nft-cover {
  background-image: url("/assets/images/prize-tap/nft-cover.svg");
  @apply bg-cover bg-center bg-no-repeat;
  object-fit: contain;
}

.prize-tap-enrolled:hover {
  &:before {
    background: radial-gradient(
      174.04% 3217.67% at 17.05% 37.02%,
      #2a3837 0%,
      #3f2b44 42.19%,
      #322837 100%
    ) !important;
  }
}

.winner-box-bg {
  background-color: #10101b;
  // background-image: url('../public/assets/images/prize-tap/winner_bg.svg');
  @apply bg-cover bg-center bg-no-repeat;
}

.claimed-prize {
  > div {
    background: linear-gradient(
      91.35deg,
      #4bf2a2 0.66%,
      #a89fe7 10.06%,
      #e1c4f4 20.07%,
      #dd40cd 28.44%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // font-size: 14px;
    // font-weight: 600;
    margin-left: 10px;
  }

  @apply relative z-10 bg-g-primary before:content-[''];
  @apply before:absolute before:inset-[2px] before:-z-10 before:block before:rounded-lg before:bg-[radial-gradient(174.04%_3217.67%_at_17.05%_37.02%,#2A3837_0%,#3F2B44_42.19%,#322837_100%)];
  @apply text-white;
  @apply rounded-[10px] p-3;
}

.prize-success-stroke {
  h1 {
    padding: 2px;
    text-align: center;
    // text-transform: uppercase;
    /* Warning: no fallback */
    margin: 2em 0 2em 0;
    background: -webkit-linear-gradient(
      12deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    color: inherit;
  }
}

.prize__amount {
  position: relative;
  @apply text-gray20;
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    #2a3837 0%,
    #3f2b44 42.19%,
    #322837 100%
  );
  -webkit-text-stroke: 6px transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6em;
  font-weight: 600;

  &:after {
    content: attr(data-amount);
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      91.35deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    @apply text-gray20;
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #1b1b26;
    left: 0px;
  }
}

.raffle-logo-container {
  background: linear-gradient(#4bf2a200, #a89fe700, #c990ee, #71969e);
  border-radius: 14px;
  z-index: -1;
}

.select-not {
  @apply select-none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.rmdp-wrapper {
  background-color: #1b1b29 !important;
  @apply text-gray100;
  border: 2px solid #4c4c5c !important;
  border-radius: 16px !important;
}

.sd {
  color: #b5b5c6 !important;
  background-color: #242431;
}

.sd:hover {
  background-color: #303043 !important;
  color: #b5b5c6 !important;
}

.rmdp-arrow-container {
  display: flex !important;
  align-items: center !important;
  height: 25px !important;
  width: 25px !important;
}

.rmdp-day {
  font-weight: 600;
}
.rmdp-day > span:hover {
  background-color: #303043 !important;
  color: white !important;
}

.rmdp-arrow-container:hover {
  background-color: #16161b !important;
}

.rmdp-arrow {
  border-right: 2px solid #b5b5c6 !important;
  border-bottom: 2px solid #b5b5c6 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 !important;
}

.rmdp-header-values,
.rmdp-day {
  color: white !important;
  font-size: 0 !important;
  display: flex;
  column-gap: 10px;
}
// .rmdp-arrow

.rmdp-header-values > span {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  font-size: 14px !important;
  border-radius: 6px !important;
  background-color: #242431 !important;
  height: 27px !important;
  min-width: 81px !important;
  font-weight: 500 !important;
}

.rmdp-week > div {
  color: #67677b !important;
  font-weight: 500;
  letter-spacing: 0.42px;
}

.rmdp-week {
  column-gap: 10px !important;
}

.rmdp-month-picker,
.rmdp-year-picker {
  background: #1e1e2c !important;
  border-radius: 16px !important;
}

.rmdp-selected > span {
  background: #4ce6a1 !important;
  color: #161623 !important;
  z-index: 1000000 !important;
}

.rmdp-selected > span:hover {
  background: #4ce6a1 !important;
  color: #161623 !important;
}

.rmdp-today > span {
  // background: #242431 !important;
  // border: 2px solid #67677b;
  // color: #b5b5c6 !important;
}

.rmdp-time-picker input {
  background: none !important;
  color: white !important;
  letter-spacing: 0.42px;
  font-weight: 600;
}

.rmdp-time-picker {
  margin: 5px !important;
}

.date-picker-input {
  padding-left: 20px;
  background: none;
  color: #b5b5c6;
  width: 100%;
  height: 48px;
}

.date-picker-input::placeholder {
  color: #b5b5c664;
}

.rmdp-action-buttons > button,
.rmdp-am {
  color: white !important;
  font-weight: 600;
}

.rmdp-action-buttons {
  border-top: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rmdp-top-class {
  border-bottom: 2px solid #4c4c5c !important;
}

.rmdp-action-buttons > button {
  width: 155px;
  border-radius: 8px;
  border: 1px solid #242431;
  color: white !important;
}

.rmdp-action-buttons > button:nth-child(2) {
  background: #212130 !important;
}

.rmdp-day-picker {
  margin-top: 20px;
}
.rmdp-month-picker,
.rmdp-year-picker {
  margin-left: 10px;
  background-color: #161623 !important;
  border: 2px solid #1e1e2c !important;
  max-width: 325px;
}

.setOpacity {
  opacity: 0.3;
}

.providePrize__amount_modal {
  position: relative;
  @apply text-gray20;
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    #2a3837 0%,
    #3f2b44 42.19%,
    #322837 100%
  );
  -webkit-text-stroke: 4px transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4em;
  font-weight: 600;
  // padding: 10px;
  letter-spacing: 0.5px;

  &:after {
    content: attr(data-amount);
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      91.35deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    @apply text-gray20;
    -webkit-text-stroke: 1px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #13131e;
  }
}

.form-you-filed::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

.uploadFileInput::file-selector-button {
  display: none;
}

.nftIdTextarea::placeholder {
  @apply text-gray80;
}

.enroll-button {
  background: linear-gradient(198.38deg, #614262 12.47%, #331740 87.53%);
  height: 36px;
  padding: 1px;
  &:disabled {
    background: linear-gradient(198.38deg, #1f1111 12.47%, #13070b 87.53%);
    cursor: not-allowed;
    > div {
      background: linear-gradient(
        180deg,
        #1f1521 0%,
        #1a121c 50%,
        #100d12 100%
      );

      &::after {
        content: none;
      }
    }
  }

  > div {
    height: 34px;
    background: linear-gradient(180deg, #3b1841 0%, #2a1033 50%, #190621 100%);
    @apply rounded-[18px];
    position: relative;
    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      inset: 0;
      background-size: contain;
      @apply rounded-[18px];
      background: url("/assets/images/gas-tap/claim-bg.svg");
    }
  }
}

.claim-button {
  background: linear-gradient(
    183deg,
    #4ce6a1 12.47%,
    rgba(221, 64, 205, 0.122) 70%
  );
  padding: 1px;
  height: 36px;
  > div {
    height: 34px;
    background: linear-gradient(360deg, #261b31 18.78%, #245145 100%);
    @apply rounded-[18px];
  }
}

.check-winners-button {
  background: linear-gradient(0deg, #bbb0cc 12.47%, #e2fff2 70%);
  padding: 1px;
  height: 36px;
  > div {
    background: linear-gradient(
      360deg,
      #616875 100%,
      rgba(214, 235, 245, 0.4) 100%
    );
    height: 34px;
    @apply rounded-[18px];
  }
}

// background: linear-gradient(0deg, rgba(175, 190, 219, 0.4) 0%, rgba(214, 235, 245, 0.4) 99.99%);

.raffle-bg-cover {
  background: linear-gradient(
    90deg,
    rgba(27, 27, 41, 0) 0%,
    rgba(22, 22, 33, 0) 27.72%,
    #161623 79.28%
  );
  opacity: 0.8;
}

.raffle-border {
  background: linear-gradient(
    258.31deg,
    rgba(75, 242, 162, 0) 8.63%,
    rgba(168, 159, 231, 0) 39.25%,
    #c990ee 64.06%,
    #71969e 91.43%
  );
}

.raffle-claimable {
  background: linear-gradient(
    258.31deg,
    #4bf2a2 8.63%,
    rgba(168, 159, 231, 0) 40.25%,
    #c990ee 75.06%,
    #71969e 91.43%
  );
}
