.gas-balance-low {
  background: linear-gradient(329.12deg, #ad7f3b 18.71%, #ebdb4b 81.29%);
}

.gas-balance-fine {
  background: linear-gradient(86.2deg, #6de0a2 3.12%, #75cba2 96.88%);
}

.gas-balance-danger {
  background: linear-gradient(86.2deg, #e74242 3.12%, #de3232 96.88%);
}

.refuel-button {
  background: linear-gradient(180deg, #3c6a78 0%, #47778c 100%);

  > div {
    background: linear-gradient(180deg, #2d313a 0%, #1b2231 100%);
  }
}

.refuel-fine {
  background: linear-gradient(180deg, #2d313a 0%, #1b2231 100%);

  > div {
    background: linear-gradient(180deg, #1b1b29 0%, #191927 100%);
  }
}

.gradient-button-st-1 {
  background: linear-gradient(198.38deg, #464760 12.47%, #26263e 87.53%);

  > div {
    background: linear-gradient(171.26deg, #303040 -8.91%, #161624 124.43%);
  }
}
