.gas-balance-danger {
  background: linear-gradient(86.2deg, #e74242 3.12%, #de3232 96.88%);
}

.refuel-button {
  background: linear-gradient(180deg, #3c6a78 0%, #47778c 100%);

  > div {
    background: linear-gradient(180deg, #2d313a 0%, #1b2231 100%);
  }
}

.refuel-fine {
  background: linear-gradient(180deg, #2d313a 0%, #1b2231 100%);

  > div {
    background: linear-gradient(180deg, #1b1b29 0%, #191927 100%);
  }
}

.gradient-button-st-1 {
  background: linear-gradient(to bottom, #464760 12.47%, #26263e 87.53%);

  // background: linear-gradient(198.38deg, #464760 12.47%, #26263e 87.53%);

  > div {
    background: linear-gradient(171.26deg, #303040 -8.91%, #161624 124.43%);
  }
}

.gastap-search {
  clip-path: polygon(50% 0%, 100% 0, 100% 63%, 93% 100%, 0 100%, 0% 60%, 0 0);
  // clip-path: polygon(
  //   0% 0%,
  //   100% 1%,
  //   100% 64%,
  //   99% 70%,
  //   92% 98%,
  //   90% 100%,
  //   0% 98%
  // );
}

.gastap-filter-gradient {
  background: radial-gradient(
    134.72% 134.72% at 50% 50%,
    #272733 0%,
    #808097 100%
  );
}

.gastap-filter-active {
  &::before {
    content: "";
    width: 6px;
    height: 6px;
    z-index: 10;
    position: absolute;
    right: 4px;
    top: 4px;

    background: url("/assets/images/gas-tap/gastap-filter-active.svg");
  }

  &::after {
    content: "";
    width: 6px;
    height: 6px;
    z-index: 10;
    position: absolute;
    left: 4px;
    bottom: 4px;
    transform: rotate(180deg);
    background: url("/assets/images/gas-tap/gastap-filter-active.svg");
  }
}

.gas-level-fine {
  background: linear-gradient(to right, #bcf8d8 3.12%, #75cba2 96.88%);
}

.gas-level-low {
  background: linear-gradient(329.12deg, #ad7f3b 18.71%, #ebdb4b 81.29%);
}

.gas-level-empty {
  background: linear-gradient(329.12deg, #c24e1b 18.71%, #f16e35 81.29%);
}
