@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
}

@keyframes shimmer {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: -100% 0;
	}
}

@keyframes lightToggle {
	0% {
		opacity: 10%;
	}
	50% {
		opacity: 100%;
	}
	100% {
		opacity: 100%;
	}
}

.light-toggle {
	animation: lightToggle 2s infinite steps(1);
}

.skeleton-item {
	animation: pulse 1.5s ease-in-out infinite, shimmer 1.5s linear infinite;
	background: linear-gradient(-45deg, #1b1b26 25%, #232362 37%, #1b1b26 63%);
	background-size: 200% 100%;
}
