.styled-scroll {
    &::-webkit-scrollbar {
        width: 3px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #24242F;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #4C4C5C;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #67677B;
        cursor: pointer;
    }
}

.twitter-btn {
    background: radial-gradient(174.04% 3217.67% at 17.05% 37.02%, #03A9F4 0%, #DFFFF5 42.19%, #03E6F4 100%) !important;

    &::before {
        background: #030317 !important;
    }

}
