@import "../styles/buttons.scss";
@import "../styles/cards.scss";
@import "../styles/index.scss";
@import "../styles/animations.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin btn {
  @apply duration-300 ease-out;
}

@layer base {
  // TYPOGRAPHY
  h1 {
    @apply items-center text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-medium;
  }

  input {
    @apply focus:outline-none;
  }

  .text-gradient-primary {
    @apply bg-g-primary bg-clip-text;
    -webkit-text-fill-color: transparent;
  }

  // FLEX SIZES
  .flex--1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .flex-4 {
    flex: 4;
  }
}

@font-face {
  font-family: DigitalNumbers;
  font-style: normal;
  font-weight: normal;
  src: URL("/assets/font/DigitalNumbers/DigitalNumbers-Regular.ttf")
    format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

input {
  /* Firefox */
  -moz-appearance: textfield;
}

.gradient-text-hackaThon {
  background: linear-gradient(
    327.64deg,
    #4ce6a1 -21.12%,
    rgba(76, 230, 161, 0.2) 159.83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hackaThonBgGradient {
  background: radial-gradient(
    184.51% 2569.02% at 6.42% 50%,
    #212130 34.26%,
    #8f8fec 100%
  );
}

.hackaThonBgGradient:hover {
  background: radial-gradient(
    184.51% 2569.02% at 6.42% 50%,
    #21213080 34.26%,
    #8f8fec7a 100%
  );
}

.addConditionBtn {
  background: radial-gradient(
    89.52% 88.03% at 11.27% 34.41%,
    rgba(204, 204, 215, 0.2) 0%,
    rgba(117, 117, 155, 0.2) 48.5%,
    rgba(68, 68, 110, 0.2) 100%
  );
}
