@import "../styles/buttons.scss";
@import "../styles/cards.scss";
@import "../styles/index.scss";
@import "../styles/animations.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin btn {
  @apply ease-out duration-300;
}

@layer base {
  // TYPOGRAPHY
  h1 {
    @apply text-3xl font-semibold items-center;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-medium;
  }

  input {
    @apply focus:outline-none;
  }

  .text-gradient-primary {
    @apply bg-g-primary bg-clip-text;
    -webkit-text-fill-color: transparent;
  }

  // FLEX SIZES
  .flex--1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .flex-4 {
    flex: 4;
  }
}

@font-face {
  font-family: DigitalNumbers;
  font-style: normal;
  font-weight: normal;
  src: URL("/assets/font/DigitalNumbers/DigitalNumbers-Regular.ttf")
    format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

input {
  /* Firefox */
  -moz-appearance: textfield;
}

.tap-header {
  @apply bg-no-repeat bg-cover bg-right;

  background-image: linear-gradient(
      90deg,
      #0c0c1a 4.68%,
      rgba(12, 12, 26, 0.3) 50.99%,
      #0c0c1a 97.3%
    ),
    url("/assets/images/gas-tap/header-background.svg");
}

.claim-button {
  background: linear-gradient(198.38deg, #614262 12.47%, #331740 87.53%);

  &:disabled {
    background: linear-gradient(198.38deg, #1f1111 12.47%, #13070b 87.53%);
    cursor: not-allowed;
    > div {
      background: linear-gradient(
        180deg,
        #1f1521 0%,
        #1a121c 50%,
        #100d12 100%
      );

      &::after {
        content: none;
      }
    }
  }

  > div {
    background: linear-gradient(180deg, #3b1841 0%, #2a1033 50%, #190621 100%);

    position: relative;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      inset: 0;
      background-size: contain;
      @apply rounded-3xl;
      background: url("/assets/images/gas-tap/claim-bg.svg");
    }
  }

  &.claimed {
    background: #1e3828;

    > div {
      background: linear-gradient(
        120.05deg,
        rgba(36, 50, 42, 0.3) 60.86%,
        #49a47c 98.14%
      );
    }
  }

  &.pending {
    background: linear-gradient(198.38deg, #402641 12.47%, #331740 87.53%);

    > div {
      background: linear-gradient(
        180deg,
        #190a1b 0%,
        #0f0811 50%,
        #0a050d 100%
      );

      &::after {
        content: none;
      }
    }
  }
}
