@import "../styles/buttons.scss";
@import "../styles/cards.scss";
@import "../styles/index.scss";
@import "../styles/animations.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin btn {
  @apply ease-out duration-300;
}

@layer base {
  // TYPOGRAPHY
  h1 {
    @apply text-3xl font-semibold items-center;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-medium;
  }

  input {
    @apply focus:outline-none;
  }

  .text-gradient-primary {
    @apply bg-g-primary bg-clip-text;
    -webkit-text-fill-color: transparent;
  }

  // FLEX SIZES
  .flex--1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .flex-4 {
    flex: 4;
  }
}

@font-face {
  font-family: DigitalNumbers;
  font-style: normal;
  font-weight: normal;
  src: URL("/assets/font/DigitalNumbers/DigitalNumbers-Regular.ttf")
    format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

input {
  /* Firefox */
  -moz-appearance: textfield;
}

.quiz_icon {
  position: relative;
  min-width: 165px;
  min-height: 175px;
  background-color: #10101B;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow:  inset  -2px 0px 0 2px #242431;
}

.quiz_icon::before {
  content: '';
  position: absolute;
  background-color: #1e1e273a;
  top:-17px;
  left: 80px;
  border-bottom-left-radius: 150px;
  border-top-left-radius: 150px;
  width: 20px;
  height: 20px;
  box-shadow: -26px -0px 0 15px #10101B,  inset  1px 1px 0 1px #242431;
}

.quiz_icon::after {
  content: '';
  position: absolute;
  background-color: #1d1d27a4;
  bottom:-17px;
  left: 79px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  width: 20px;
  height: 20px;
  box-shadow: -23px -0px 0 15px #10101B,  inset  1px 0px 0 1px #242431;
}

.circle {
  position: relative;
  height: 135px;
  width: 135px;
  border-radius: 100%;
}

.circle::after {
  position: absolute;
  content: '';
  background-color: #10101B;
  width: 60px;
  height: 30px;
  top:-45px;
}

.circle::before {
  position: absolute;
  content: '';
  background-color: #10101B;
  width: 60px;
  height: 30px;
  bottom:-45px;
}