@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 800;
	src: URL('../public/assets/font/JetBrainsMono-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: bold;
  src: URL('../public/assets/font/JetBrainsMono-Bold.ttf') format('truetype');
}
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 500;
  src: URL('../public/assets/font/JetBrainsMono-Medium.ttf') format('truetype');
}
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 300;
  src: URL('../public/assets/font/JetBrainsMono-Light.ttf') format('truetype');
}
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 200;
  src: URL('../public/assets/font/JetBrainsMono-Thin.ttf') format('truetype');
}
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: normal;
  src: URL('../public/assets/font/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family: NotoSans;
	font-style: normal;
	font-weight: normal;
  src: URL('../public/assets/font/NotoSans/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: NotoSans;
	font-style: medium;
	font-weight: 500;
  src: URL('../public/assets/font/NotoSans/NotoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: NotoSans;
	font-style: semi-bold;
	font-weight: 600;
  src: URL('../public/assets/font/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: NotoSans;
	font-style: bold;
	font-weight: 700;
  src: URL('../public/assets/font/NotoSans/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: NotoSans;
  font-style: extra-bold;
  font-weight: 800;
  src: URL('../public/assets/font/NotoSans/NotoSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: NotoSans;
  font-style: black;
  font-weight: 900;
  src: URL('../public/assets/font/NotoSans/NotoSans-Black.ttf') format('truetype');
}
@font-face {
	font-family: NotoSansMono;
	font-style: normal;
	font-weight: normal;
  src: URL('../public/assets/font/NotoSansMono/NotoSansMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: JetBrainsMono;
    font-style: normal;
    font-weight: bold;
    src: URL('../public/assets/font/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: JetBrainsMono;
    font-style: normal;
    font-weight: 500;
    src: URL('../public/assets/font/JetBrainsMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: JetBrainsMono;
    font-style: normal;
    font-weight: 300;
    src: URL('../public/assets/font/JetBrainsMono-Light.ttf') format('truetype');
}

@font-face {
    font-family: JetBrainsMono;
    font-style: normal;
    font-weight: 200;
    src: URL('/assets/font/JetBrainsMono-Thin.ttf') format('truetype');
}

@font-face {
    font-family: JetBrainsMono;
    font-style: normal;
    font-weight: normal;
    src: URL('/assets/font/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: DigitalNumbers;
    font-style: normal;
    font-weight: normal;
    src: URL('/assets/font/DigitalNumbers/DigitalNumbers-Regular.ttf') format('truetype');
}


/*@font-face {*/
/*    font-family: NotoSans;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: URL('../public/assets/font/NotoSans/NotoSans-Regular.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: NotoSans;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: URL('../public/assets/font/NotoSans/NotoSans-SemiBold.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: NotoSans;*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    src: URL('../public/assets/font/NotoSans/NotoSans-Bold.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: NotoSans;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: URL('../public/assets/font/NotoSans/NotoSans-ExtraBold.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: NotoSans;*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    src: URL('../public/assets/font/NotoSans/NotoSans-Black.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: NotoSansMono;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: URL('../public/assets/font/NotoSansMono/NotoSansMono-Regular.ttf') format('truetype');*/
/*}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App {
    text-align: center;
}

textarea:focus, input:focus {
    outline: none;
}

input, textarea {
    border: 0
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

