.providerDashboardStatus {
  & div {
    @apply min-w-[60px] cursor-pointer px-3 py-[10px] text-center;
  }
  & div:not(:last-child) {
    @apply border-r-2 border-r-gray30;
  }
}

.providerDashboardTabs {
  position: relative;
  border-radius: 12px 12px 0px 0px;
}

.refillToken {
  @apply rounded-[16px] border-2 border-gray40 bg-cover bg-no-repeat;
  background-image: url("/assets/images/provider-dashboard/bg.png");
}

.providePrize__amount {
  position: relative;
  @apply text-gray20;
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    #2a3837 0%,
    #3f2b44 42.19%,
    #322837 100%
  );
  -webkit-text-stroke: 7px transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
  font-weight: 600;
  padding: 10px;

  &:after {
    content: attr(data-amount);
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      91.35deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    @apply text-gray20;
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #13131e;
    left: 10px;
  }
}

.offerPrizeSteps {
  border-radius: 12px;
  @apply bg-cover bg-no-repeat;
  background: url("/assets/images/provider-dashboard/prize-offer-step-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.chines-list-dropDown::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chines-list-dropDown {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prizeForm-current-step-icon {
  @apply h-[26px] w-[26px] overflow-hidden rounded-full bg-gray30;
}

.requireModal {
  @apply flex max-w-[184px] cursor-pointer flex-col items-center justify-center gap-2 rounded-xl border border-gray70 bg-gray40 text-sm font-semibold;
}

.requireModalIntegration {
  @apply mt-1 flex h-[48px] max-w-[376px] cursor-pointer items-center justify-between rounded-xl border border-gray70 bg-gray40 px-3 text-sm font-semibold text-gray100;
}

.provider-dashboard-input {
  @apply h-[100%] w-full bg-transparent text-white placeholder-gray80;
}
.prize-card-bg-1 {
  @apply bg-no-repeat p-0 pl-0 lg:bg-[url("/assets/images/prize-tap/nft-cover.svg")] lg:p-4 lg:pl-6 lg:pr-0;
}

.prize-card-linea {
  @apply bg-no-repeat p-0 pl-0 lg:bg-[url('/assets/images/prize-tap/linia-raffle-bg.svg')] lg:p-4 lg:pl-6 lg:pr-0;
}

.prize-card-bg-2 {
  @apply bg-no-repeat p-0 pl-0 lg:bg-[url("/assets/images/prize-tap/cover.svg")] lg:p-4 lg:pl-6 lg:pr-0;
}

.prize-tap-header-bg {
  background-image: url("/assets/images/prize-tap/header-bg.svg");
  @apply bg-cover bg-center bg-no-repeat;
}

.deposit-prize-nft-cover {
  background-image: url("/assets/images/prize-tap/nft-cover.svg");
  @apply bg-cover bg-center bg-no-repeat;
  object-fit: contain;
}

.prize-tap-enrolled:hover {
  &:before {
    background: radial-gradient(
      174.04% 3217.67% at 17.05% 37.02%,
      #2a3837 0%,
      #3f2b44 42.19%,
      #322837 100%
    ) !important;
  }
}

.winner-box-bg {
  background-color: #10101b;
  // background-image: url('../public/assets/images/prize-tap/winner_bg.svg');
  @apply bg-cover bg-center bg-no-repeat;
}

.claimed-prize {
  > div {
    background: linear-gradient(
      91.35deg,
      #4bf2a2 0.66%,
      #a89fe7 10.06%,
      #e1c4f4 20.07%,
      #dd40cd 28.44%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // font-size: 14px;
    // font-weight: 600;
    margin-left: 10px;
  }

  @apply relative z-10 bg-g-primary before:content-[''];
  @apply before:absolute before:inset-[2px] before:-z-10 before:block before:rounded-lg before:bg-[radial-gradient(174.04%_3217.67%_at_17.05%_37.02%,#2A3837_0%,#3F2B44_42.19%,#322837_100%)];
  @apply text-white;
  @apply rounded-[10px] p-3;
}

.prize-success-stroke {
  h1 {
    padding: 2px;
    text-align: center;
    // text-transform: uppercase;
    /* Warning: no fallback */
    margin: 2em 0 2em 0;
    background: -webkit-linear-gradient(
      12deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    color: inherit;
  }
}

.prize__amount {
  position: relative;
  @apply bg-clip-text text-gray20 text-transparent;
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    #2a3837 0%,
    #3f2b44 42.19%,
    #322837 100%
  );
  -webkit-text-stroke: 6px transparent;
  -webkit-text-fill-color: transparent;
  font-size: 1.6em;
  font-weight: 600;

  &:after {
    content: attr(data-amount);
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      91.35deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    @apply bg-clip-text text-gray20;
    -webkit-text-stroke: 2px transparent;
    -webkit-text-fill-color: #1b1b26;
    left: 0px;
  }
}

.raffle-logo-container {
  background: linear-gradient(#4bf2a200, #a89fe700, #c990ee, #71969e);
  border-radius: 14px;
  z-index: -1;
}

.providePrize__amount_modal {
  position: relative;
  @apply text-gray20;
  background: radial-gradient(
    174.04% 3217.67% at 17.05% 37.02%,
    #2a3837 0%,
    #3f2b44 42.19%,
    #322837 100%
  );
  -webkit-text-stroke: 4px transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4em;
  font-weight: 600;
  // padding: 10px;
  letter-spacing: 0.5px;

  &:after {
    content: attr(data-amount);
    position: absolute;
    z-index: 9;
    background: linear-gradient(
      91.35deg,
      #4bf2a2 -4.66%,
      #a89fe7 56.06%,
      #e1c4f4 73.07%,
      #dd40cd 111.44%
    );
    @apply text-gray20;
    -webkit-text-stroke: 1px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #13131e;
  }
}

.form-you-filed::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

.uploadFileInput::file-selector-button {
  display: none;
}

.nftIdTextarea::placeholder {
  @apply text-gray80;
}
