@keyframes dabe-waiting {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 40%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shine {
  0% {
    left: -120%;
  }
  100% {
    left: 150%;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes lightToggle {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.animated-dabe {
  animation: dabe-waiting 1.5s infinite;
}

.light-toggle {
  animation: lightToggle 2s infinite steps(1);
}

.animate-skeleton {
  animation: shine 2s ease-in-out infinite;
}

.skeleton-item {
  animation: pulse 1.5s ease-in-out infinite, shimmer 1.5s linear infinite;
  background-size: 200% 100%;
}

@keyframes moveColors {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#nprogress .bar {
  /* Apply the radial gradient */
  background: linear-gradient(
    91.35deg,
    #4bf2a2 -4.66%,
    #a89fe7 56.06%,
    #e1c4f4 73.07%,
    #dd40cd 111.44%
  ) !important;

  /* Apply animation for moving colors like a rainbow */
  // animation: moveColors 0.3s infinite linear !important;
}
