@keyframes dabe-waiting {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 40%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shine {
  0% {
    left: -120%;
  }
  100% {
    left: 150%;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes lightToggle {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-unitap {
  0% {
    transform: rotate(0deg);
    opacity: 10%;
  }
  50% {
    opacity: 100%;
    transform: rotate(180deg);
  }
  100% {
    opacity: 10%;
    transform: rotate(360deg);
  }
}

@keyframes spin-unitap-1 {
  0% {
    top: 0px;
    opacity: 5%;
    left: 0px;
  }
  10% {
    top: 20px;
    opacity: 20%;
    left: 0px;
  }
  20% {
    opacity: 80%;
    top: 70px;
    left: 40px;
  }
  40% {
    top: 150px;
    left: 140px;
    opacity: 100%;
  }
  60% {
    top: 300px;
    left: 280px;
    opacity: 70%;
  }
  80% {
    top: 200px;
    left: 100px;
    opacity: 50%;
  }
  80% {
    top: 0px;
    left: 0;
    opacity: 5%;
  }
}

@keyframes spin-unitap-2 {
  10% {
    top: 0px;
    opacity: 5%;
    right: 0px;
  }
  20% {
    opacity: 20%;
    top: 40px;
    right: 30px;
  }
  40% {
    top: 130px;
    right: 130px;
    opacity: 80%;
  }
  60% {
    top: 290px;
    right: 260px;
    opacity: 100%;
  }
  80% {
    top: 180px;
    right: 120px;
    opacity: 70%;
  }
  80% {
    top: 0px;
    right: 50px;
    opacity: 5%;
  }
}

@keyframes spin-unitap-3 {
  0% {
    bottom: 0px;
    opacity: 5%;
    right: 0px;
  }
  10% {
    bottom: 10px;
    opacity: 5%;
    right: 0px;
  }
  20% {
    opacity: 50%;
    bottom: 40px;
    right: 30px;
  }
  40% {
    bottom: 130px;
    right: 130px;
    opacity: 100%;
  }
  60% {
    bottom: 290px;
    right: 260px;
    opacity: 50%;
  }
  80% {
    bottom: 180px;
    right: 120px;
    opacity: 30%;
  }
  80% {
    bottom: 0px;
    right: 50px;
    opacity: 5%;
  }
}

@keyframes mint-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.animate-mint-effect {
  animation: mint-effect 1s linear;
}

.animate-unitap-pass-1 {
  animation: spin-unitap-1 10s linear infinite;
}

.animate-unitap-pass-2 {
  animation: spin-unitap-2 7s linear infinite;
}

.animate-unitap-pass-3 {
  animation: spin-unitap-3 8s linear infinite;
}

.animate-unitap-pass {
  animation: spin-unitap 7s linear infinite;
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.animated-dabe {
  animation: dabe-waiting 1.5s infinite;
}

.light-toggle {
  animation: lightToggle 2s infinite steps(1);
}

.animate-skeleton {
  animation: shine 2s ease-in-out infinite;
}

.skeleton-item {
  animation:
    pulse 1.5s ease-in-out infinite,
    shimmer 1.5s linear infinite;
  background-size: 200% 100%;
}

@keyframes moveColors {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#nprogress .bar {
  /* Apply the radial gradient */
  background: linear-gradient(
    91.35deg,
    #4bf2a2 -4.66%,
    #a89fe7 56.06%,
    #e1c4f4 73.07%,
    #dd40cd 111.44%
  ) !important;
  height: 2px !important;

  /* Apply animation for moving colors like a rainbow */
  // animation: moveColors 0.3s infinite linear !important;
}
