.gas-level-fine {
  background: linear-gradient(to right, #bcf8d8 3.12%, #75cba2 96.88%);
}

.gas-level-low {
  background: linear-gradient(329.12deg, #ad7f3b 18.71%, #ebdb4b 81.29%);
}

.gas-level-empty {
  background: rgb(234 83 101);
}

.gas-empty-danger {
  border: 0.5px solid rgb(234 83 101);
}
