.gas-level-fine {
  background: linear-gradient(to right, #bcf8d8 3.12%, #75cba2 96.88%);
}

.gas-level-low {
  background: linear-gradient(329.12deg, #ad7f3b 18.71%, #ebdb4b 81.29%);
}

.gas-level-empty {
  background: linear-gradient(329.12deg, #c24e1b 18.71%, #f16e35 81.29%);
}
